
.card-img-center{
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin: auto;
}
.card-title{
    text-align: center;
}  
body{
 background-color: #9e9ea7 !important;
}
.card{
    width: 30rem;
    margin: auto;
    top: 40px;
    padding-top: 50px;
}
.card-footer{
    background-color: #ea4c89 !important;
    height: 80px;
    text-align: center;
    color: white!important;
    padding-top: 20px!important;
}
.adress{
    text-align: center;
    color: gray;
}
.text-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: auto;
    color:#6e6e74
}
#btn{
    background-color:#ea4c89;
}
.social-share {
    text-align: center !important;
}
 .btn-outline-secondary {
    color: black !important;
    font-weight: bold !important;
}